.tabelaProdutos {
  background-color: #fff;
  border: 5px solid #ff432e;
  border-radius: 15px;
}

.tabelaProdutos th {
  background-color: #283cae;
  color: #fff;
}

.tabelaProdutos table {
  width: 100%;
}

.tabelaProdutos .Par {
  background-color: #ddd;
}
