.button-mega {
  border-radius: 15px;
  border: none;
  background-color: #333;
  height: 30px;
  width: 50px;
  margin: 5px;
  color: aliceblue;
}

#input-mega {
  width: 40px;
  border-radius: 10px;
  border: none;
}

#input-mega:hover {
  box-shadow: 1px 1px 8px #333;
}

.input-meda2 {
  border-radius: 10px;
  border: none;
}

.input-meda2:hover {
  box-shadow: 1px 1px 8px #333;
}

#bola-no-numero {
  border: 1px solid rgba(51, 51, 51, 0.363);
  box-shadow: 1px 1px 1px #333;

  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
